<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Mocha 3KA03</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="C:\Users\Lenovo\mychatbot\public\templates\new arka logo.jpg" alt="">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Mocha 3KA03</h4>
                    <p class="chatbox__description--header">Hai, untuk informasi data mahasiswa 3KA03 <a href="https://docs.google.com/spreadsheets/d/1RMA11UN-uzyXHOtaxpmU57KBXulH7Nsc/edit?usp=sharing&ouid=115116542701229825342&rtpof=true&sd=true">klik</a></p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Bertanya yuk...">
                <button class="chatbox__send--footer send__button">Kirim</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chat.png') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>